/*
=============== 
Global Styles
===============
*/

* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #eaedee;
  color: #121212;
  line-height: 1.5;
  font-size: 1rem;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  line-height: 1.25;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 10px 0 32px;
}

h2 {
  font-size: 1.5rem;
  margin: 20px 0;
  font-weight: bold;
}

h3 {
  font-size: 2.3rem;
  font-weight: 300;
  color: #171717;
  text-align: left;
  margin-bottom: 35px;
}

h4 {
  font-size: 1.3rem;
  font-weight: 300;
  margin: 20px 0;
}

h6 {
  font-weight: 400;
  padding-right: 5px;
  margin-right: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  background: none;
  outline: none;
}

.input-search {
  width: 100%;
  max-width: 560px;
  padding: 0 10px;
  margin: 0 40px;
}

.input-search > input {
  background-color: #7777;
  border: 0;
  display: flex;
  flex: 1;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 10px;
  width: 100%;
  height: 35px;
  border-radius: 2px;
  outline: none;
}

main {
  width: 100%;
  height: 100vh;
}

/*
=============== 
Menu
===============
*/
header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #c9cccc;
  flex-direction: column;
}

nav {
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column;*/
}

section {
  width: 100%;
}

.header-contain {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-contain img {
  width: 100px;
  /*margin-left: 15px;*/
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  position: relative;
}

.img {
  width: 100%;
}

.btn-grp {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.3rem;
  padding-left: 0 15px;
}

.btn-grp button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  font-size: 0.78rem;
  line-height: 16px;
  font-weight: 200;
  height: 30px;
  border-radius: 0.25rem;
  border-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
}

a.btn-left button {
  padding: 0 5px;
  background-color: #fff;
  color: #09b0ba;
  border: #09b0ba solid 1px;
}

a.sales-now button {
  background-color: #09b0ba;
  color: #fff;
  border: #09b0ba solid 1px;
}

.start {
  width: 100%;
  max-width: 350px;
  height: 290px;
  padding: 32px;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 14px 28px 0 rgba(46, 51, 51, 0.07);
  position: absolute;
  top: 160px;
  z-index: 1;
}

.start button {
  width: 100%;
  max-width: 187px;
  height: 45px;
  background-color: #09b0ba;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #09b0ba;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0 12px;
  border-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checked {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
=============== 
Home Cards
===============
*/

.input-offers {
  display: flex;
  padding: 15px;
  align-items: center;
  margin-top: 20px;
}
.input-offers > input {
  width: 100%;
  max-width: 50px;
  outline: none;
  border: 2px solid #2cb1ba;
}

.input-offers > label {
  margin: 0 15px;
  background-color: #2cb1ba;
  color: #f3f8f9;
  padding: 0 15px;
  border-radius: 5px;
}
.all-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 35px 18px;
  margin: 50px auto;
  padding: 0 8px 16;
  justify-items: center;
}

.card-name {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card-img {
  width: 100%;
  max-width: 350px;
}

.card-img img {
  border-radius: 0;
  overflow: hidden;
  z-index: -1;
  object-fit: cover;
  object-position: center;
}

.card:hover {
  cursor: pointer;
}

.card-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 30px;
}

.card-name img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 15px;
}

/*
=============== 
Offers
===============
*/
.offer-page {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.page-product {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
  justify-items: center;
  margin: 50px auto;
  padding: 0 5px;
  justify-content: space-around;
  align-items: center;
}

.product-images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 15px;
}

.product-images img {
  width: 100%;
  max-width: 450px;
  object-fit: cover;
  object-position: center;
  border-radius: 2px;
  box-shadow: 0 5px 15px #00000033;
  height: 600px;
  border-radius: 0;
  overflow: hidden;
}

.left {
  background-color: white;
  width: 100%;
  max-width: 480px;
  height: 600px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 2px;
  box-shadow: 0 5px 15px #00000033;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px;
}

.man {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.infos-price span {
  color: #111;
  font-size: 24px;
  line-height: 32px;
}

.bloc-description {
  width: 100%;
  margin: 15px 0;
}

.product-details {
  display: flex;
  justify-content: space-between;
}

.product-details > p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #999;
  font-size: 14px;
  text-transform: uppercase;
}

.product-details > span {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px;
  text-transform: uppercase;
  color: #666;
}

.infos-price .card-description {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}

.card-description .product-name {
  line-height: 22px;
  margin: 16px 0;
  font-weight: 600;
}

.card-description .desc {
  line-height: 22px;
  color: #666;
  margin: 16px 0;
}

.separate {
  background: hsla(0, 0%, 7%, 0.1);
  display: block;
  height: 1px;
  width: 100%;
}

.owner {
  align-items: center;
  display: flex;
}

.owner-page-offer {
  display: flex;
  align-items: center;
}

.offer-avatar {
  width: 60px;
  height: 60px;
  margin-right: 12px;
}

.offer-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.card-description button {
  width: 100%;
  height: 35px;
  background-color: #09b0ba;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  line-height: 16px;
  background-color: #09b0ba;
  color: #fff;
  border-radius: 0.25rem;
  border-color: transparent;
  text-transform: capitalize;
  cursor: pointer;
  margin-top: 50px;
}

/*
=============== 
Signup
===============
*/

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.form > button {
  width: 100%;
  max-width: 25px;
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
}

.form-inputs {
  width: 275px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.form-input > input::placeholder {
  color: #c4c2c26c;
  opacity: 0.8;
  background: none;
  outline: none;
}

.form-inputs > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  font-size: 16px;
}

.newsletter {
  margin-top: 20px;
  padding: 10px;
}

.input-chek {
  display: flex;
  align-items: center;
}

.form-inputs input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}

input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 3px 4px;
  padding: initial;
  border: initial;
}

.input-chek label {
  color: #666;
  font-size: 16px;
}

.newsletter p {
  text-align: left;
  color: #999;
  font-size: 12px;
  margin: 12px 0;
}

.form-inputs button {
  background-color: #2cb1ba;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2cb1ba;
  font-size: 12px;
  text-decoration: none;
  margin-top: 20px;
}

.link-home {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2cb1ba;
  font-size: 18px;
  text-decoration: underline;
  margin-top: 50px;
}

.slider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider > input {
  width: 35px;
  height: 15px;
}

/*
=============== 
Publish
===============
*/
.publish {
  margin-top: 50px;
  padding: 0 10px;
}

.publish-contain {
  background: #eaedee;
}

.publish .publish-contain input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-size: 16px;
  width: 50%;
}

.publish .publish-contain textarea {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-size: 16px;
  outline: none;
  resize: none;
  width: 50%;
}

.add-file {
  background-color: #fff;
  box-shadow: 0 0 2px grey;
  margin: 20px 0;
  padding: 24px;
}

.drag-add {
  background-color: #fff;
  align-items: center;
  border: 1px dashed #ebedee;
  border-radius: 3px;
  display: flex;
  height: 200px;
  justify-content: center;
}

.add-input > label {
  align-items: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 200px;
}

.add-input > input {
  display: none;
}

.title-input {
  background-color: #fff;
  box-shadow: 0 0 2px grey;
  margin: 20px 0;
}

.text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.text-input:not(:last-child) {
  border-bottom: 1px solid #ebedee;
  vertical-align: center;
}

.text-input .label-add-file {
  border-bottom: 1px solid #ebedee;
  height: 25px;
}

.label-add-file {
  color: #0ab1ba;
  cursor: pointer;
  font-weight: 700;
}

.checkbox-input {
  margin: 25px 0 0;
}

.checkbox-input > input {
  margin: 0;
  /*outline: none;
  display: none;*/
}

.checkbox-input > label {
  color: #666;
  border: 1px solid #000;
  border-radius: 2px;
  margin: 0 10px 0 0;
  padding: 1px 9px;
}

.checked-consent {
  color: #666;
}

.form-button-add {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.form-button-add > button {
  width: 100%;
  max-width: 250px;
  height: 45px;
  background-color: #09b0ba;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  background-color: #09b0ba;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0 12px;
  margin-bottom: 50px;
  border-color: transparent;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
}

/*
=============== 
Checkbox
===============
*/

.wrapper {
  margin-right: 25px;
  margin-left: 10px;
}

.slider {
  margin-right: 25px;
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}

.slider input[name="price"] {
  display: none;
}

.slider input[type="checkbox"]:checked + .wrapper {
  background-color: #2cb1ba;
}

.slider input[type="checkbox"]:checked + .wrapper .arrows {
  left: 24px;
}

.slider .arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #2cb1ba;
  border-radius: 100%;
  position: relative;
  width: 16px;
  height: 16px;
  left: 0;
  transition: left 100ms ease-in-out 0s;
  font-weight: bold;
}

.slider .wrapper {
  background-color: #2cb1ba;
  border-radius: 10px;
  width: 42px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

/*
=============== 
Payment
===============
*/
.card-payment {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  padding: 0 15px;
}

.card-payment form {
  margin: 0 auto;
  padding: 35px 20px;
  width: 100%;
  max-width: 600px;
  background: #ffffff;
  box-shadow: 0 5px 15px #00000033;
}

.card-payment h5 {
  color: #999;
  display: block;
  font-size: 14px;
  line-height: 18px;
  padding: 0 20px 20px 0;
}

.card-payment-contain {
  padding: 15px;
  text-align: justify;
}

.first-bloc {
  color: #666;
  display: grid;
  align-items: center;
  font-size: 16px;
  grid: auto/1fr auto;
  padding: 20px 0;
}

.second-bloc {
  display: grid;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  grid: auto/1fr auto;
  padding: 10px 0;
}

.card-payment-stripe {
  padding: 24px 0;
}

.card-payment-stripe > button {
  width: 100%;
  background: #00c06d;
  border: 1px solid;
  border-color: #00c06d;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 45px;
  margin-top: 8px;
  padding: 0 14px;
}

.stripelement {
  width: 100%;
  background: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  display: block;
  font-size: 1em;
  margin: 10px 0 20px;
  outline: 0;
  padding: 10px 14px;
}

.separation {
  width: 100%;
  height: 1px;
  margin: 24px 0;
  background: hsla(0, 0%, 7%, 0.1);
}

.pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 450px;
  height: 80px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
  font-size: 1em;
  margin: 10px 10px 20px;
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 600;
  color: #00c06d;
}

.pay-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.link-pay {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2cb1ba;
  font-size: 14px;
}

.link-pay:hover {
  text-decoration: underline;
}

.bold-span {
  font-weight: bold;
  padding: 0 0 0 5px;
}
.bold-span-price {
  font-weight: bold;
  padding: 0 5px 0 0;
}

@media (max-width: 732px) {
  .input-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
  }
  .input-rigth {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    flex-direction: column;
  }
  .input-offers > label {
    margin: 10px 0;
    padding: 0 5px;
    background-color: #2cb1ba;
    color: #f3f8f9;
    display: flex;
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 712px) {
  .header-contain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  nav {
    height: 11.2rem;
  }

  .header-contain img {
    width: 100px;
    max-width: 80px;
    margin-bottom: 10px;
  }

  .input-search {
    margin-bottom: 15px;
  }

  .btn-grp {
    width: 100%;
    max-width: 72px;
  }

  .btn-grp,
  .btn-grp button {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .start {
    width: 100%;
    max-width: 293px;
    top: 250px;
  }

  .btn-grp button {
    width: 100px;
    font-size: 0.78rem;
    line-height: 16px;
    font-weight: 200;
  }

  .btn-left button {
    padding: 0 5px;
  }

  a.sales-now button {
    padding: 0 5px;
  }
}

@media (max-width: 512px) {

  .range>span{
    font-size: 12px;
  }
  .checked>span{
    font-size: 12px;
  }
  
  .product-images img {
    width: 100%;
    max-width: 420px;
  }

  .left {
    width: 100%;
    max-width: 420px;
  }

  .page-product {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
  }
}

@media (max-width: 364px) {
  .product-details > span {
    font-size: 12px;
  }

  .product-details > p {
    font-size: 12px;
  }
}

@media (max-width: 320px) {
  .page-product {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(332px, 1fr));
  }
}
